<div id="<%= dom_id generation_array %>" class="w-full sm:w-auto my-5 space-y-5">

  <div>
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= generation_array.prompt %>
  </div>
  <% if generation_array.negative_prompt.present? %>
    <div>
      <strong class="block font-medium mb-1">Negative prompt:</strong>
      <%= generation_array.negative_prompt %>
    </div>
  <% end %>

  <%= badge("pink") { generation_array.image_model.name } %>
  <%= badge("purple") { generation_array.seed.to_s }%>
  <% if generation_array.safe_mode? %>
    <%= badge("red") { "safe mode off" }%>
  <% else %>
    <%= badge("green") { "safe mode on" } %>
  <% end %>
  <%= badge("yellow") { "cfg scale: #{generation_array.cfg_scale}" } %>
  <%= badge("yellow") { "lora strength: #{generation_array.lora_strength}" } %>
  <%= badge("yellow") { "steps: #{generation_array.steps}" } %>
</div>
