<% content_for :title, "Showing generation array" %>

<%= turbo_stream_from @generation_array %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing generation array</h1>

  <%= render @generation_array %>

  <h2 class="font-bold text-2xl mt-8">Generations</h2>
  <div class="flex flex-wrap" data-controller="lightbox">
    <%= render @generation_array.generations %>
  </div>


  <%= link_to "Edit this generation array", edit_generation_array_path(@generation_array), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to generation arrays", generation_arrays_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Destroy this generation array", @generation_array, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>

